.animal {
  width: 300px;
  font-family: arial;
  font-size: 14pt;
  font-weight: normal;
  float: left;
  padding: 5px;
  border: 50px blue;
  margin-top: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.centered {
  margin: auto;
  width: 70%;
  height: auto;
  float: center;
  display: block;
}

.one-and-three {
  background-color: lightseagreen;
}

.two-and-four {
  background-color: lightcyan
}